/* navigation section */
#navbar{
    flex-direction: column;
}

/* home section */




/* services section */
#services{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* client section */
.client-section{
    overflow: hidden;
}
/* contact section */